<h1><%= @user.name %>'s Books</h1>

<% @user.books.each do |book| %>
  Title: <%= book.title %><br>
  Author: <%= book.author.name %><br>
  Genre: <%= book.genre.name %><br>
  <a href="/books/<%= book.slug_book %>">View</a> &nbsp &nbsp
  <a href="/books/<%= book.slug_book %>/edit">Edit</a>
  <form action="/books/<%= book.slug_book %>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input type="submit" id="delete" value="Delete">
  </form>
  <br><hr><br>
<% end %>
<p><a href="/books/new">New Book</a></p>
<br><br>
<p><a href="/books">All Books</a></p>
