<h1>Edit <%= @book.title %></h1>

<form class="form" action="/books/<%= @book.id %>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="PATCH">
  <label for="title">Title: </label>
    <input type="text" id="title" name="book[title]" value="<%= @book.title %>" required><br><br>
  <h3>Select Author or Create a New Author:</h3>
  <% @authors.each do |author| %>
    <input type="radio" id="<%= author.id %>" name="book[author_id]" value="<%= author.id %>" <%= 'checked' if @book.author_id == author.id %>><%= author.name %></input><br>
  <% end %>
  <p><em>Create a New Author</em></p>
  <label for="author_name">Name: </label>
    <input type="text" id="author_name" name="author[name]"><br><br>
  <h3>Select Genre or Create a New Genre:</h3>
  <% @genres.each do |genre| %>
    <input type="radio" id="<%= genre.id %>" name="book[genre_id]" value="<%= genre.id%> " <%= 'checked' if @book.genre_id == genre.id %>><%= genre.name %></input><br>
  <% end %>
  <p><em>Create a New Genre</em></p>
  <label for="genre_name">Name: </label>
    <input type="text" id="genre_name" name="genre[name]"><br><br><br>
  <input type="submit" id="submit" value="Update Book">
</form>