<h1><%= @book.title %></h1>

Title: <%= @book.title %><br>
Author: <%= @book.author.name %><br>
Genre: <%= @book.genre.name %><br>
<% if current_user == @book.user %>
<a href="/books/<%= @book.id %>/edit">Edit</a> &nbsp &nbsp
<form action="/books/<%= @book.id %>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" id="delete" value="Delete">
</form>
<% end %>
<br><br>
<a href="/books">Back to All Books</a>